body{
    font-family: 'segoe UI', sans-serif;
    line-height: 1.6;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4cAF50;
    padding: 20px;
    color: white;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.hero{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 40px;
    background-color: #f0fdf4;
    flex-wrap: wrap;
}
.hero-text{
    flex: 1;
    min-width: 250px;
}
.hero-text h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #4CAF50;
}
.hero-text button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.hero-img{
    flex: 1;
    margin-left: 400px;
}
img{
    border-radius: 15%;
    width: 400px;
    height: 200px;
}
.classes{
    padding: 40px 20px;
    text-align: center;
}
.class-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.class-card{
    background-color: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.class-card h3{
    color: #4CAF50;
}
.class-card button{
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.booking{
    padding: 40px 20px;
    background-color: #e8f5e9;
    text-align: center;
}
.booking form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}
.booking input, .booking select{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.booking button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
@media(max-width: 1250px){
    .hero{
        flex-direction: column;
        text-align: center;
        padding: 60px;
    }
    img{
        padding: 60px;
        border-radius: 15%;
        width: 400px;
        height: 200px;
    }
    .class-list{
        flex-direction: column;
        align-items: center;
    }
    .Contact{
        margin-top: 100px;
    }
    .footer{
        margin-top: 100px; 
    }
    .classes{
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
